body{
    background-color: mediumspringgreen;
}
.yo{
    padding: 100;
    margin: 20;
    background-color: orange;
}
.flex{
    display: flex;
}
.orange{
    padding-right: 340;
    background-color: rgb(255, 123, 0);
}
.blue{
    padding-bottom: 340;
    background-color: rgb(28, 28, 250);
}
.fundo{
    background-color: mediumspringgreen;
}
.alto{
    flex-direction: column;
    margin: 0;
    background-color: tomato;
}
.direita{
    margin-left: 200px;
}
div{
    max-width: 700px;
}