body{
    background-color: mediumspringgreen;
}
.yo{
    padding: 100;
    margin: 20;
    background-color: orange;
}
.flex{
    display: flex;
}
.orange{
    padding-right: 340;
    background-color: orange;
}